* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	height: 100vh;
	font-family: 'Libre Franklin', sans-serif;
}

.main {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 900px;
	width: 1300px;
	padding: 6rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 30%;
}

.logo {
	margin-bottom: 2.5rem;
}

.sub-text {
	margin-top: 0.7rem;
}

.email-input {
	width: 23rem;
	height: 3rem;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.133);
	padding: 1.5rem;
	font-size: 15px;
}

::placeholder {
	color: rgba(0, 0, 0, 0.212);
}

.btn {
	padding: 10px;
	width: 11rem;
	margin-left: 1rem;
	border-radius: 25px;
	border: none;
	background-color: hsl(223, 87%, 63%);
	color: white;
	font-size: 14px;
	cursor: pointer;
	z-index: 0;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: hsla(223, 87%, 63%, 0.8);
}

.form-box {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	height: 200px;
}

.warning {
	visibility: hidden;
	position: absolute;
	color: rgba(255, 0, 0, 0.459);
	bottom: -20px;
	left: 20px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.dash-board_img img {
	width: 600px;
	margin-top: 5rem;
	bottom: 0;
	z-index: -10;
}

h1 {
	font-weight: 200;
	color: hsl(0, 0%, 59%);
	font-size: 3rem;
}

.soon {
	font-weight: 700;
	color: black;
}

.bottom-icons {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	color: hsl(223, 87%, 63%);
	width: 120px;
}

.fa-brands {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 27px;
	border: 1px solid rgba(0, 0, 0, 0.171);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.fa-brands:hover {
	background-color: hsl(223, 87%, 63%);
	color: white;
}

.bottom-text {
	margin-top: 0.5rem;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.571);
}

.active {
	visibility: visible;
}

.border-red {
	border: 1px solid rgba(255, 0, 0, 0.301);
}

footer {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
}

@media (max-width: 375px) {
	.main {
		width: 350px;
		padding: 6rem 2rem 3rem 2rem;
	}

	h1 {
		font-size: 25px;
		text-align: center;
	}
	.form-box {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.email-input {
		width: 286px;
		margin-bottom: 3rem;
	}

	.btn {
		width: 100%;
		padding: 0;
		margin: 0;
		height: 3rem;
	}
	.sub-text {
		margin-top: 1.5rem;
	}

	.warning {
		top: 60px;
	}
	.box {
		width: 100%;
	}
	.dash-board_img {
		width: 320px;
	}
	.dash-board_img img {
		width: 100%;
	}

	.bottom-icons {
		margin-top: 5rem;
	}
}
